<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>(DEVELOPMENT) CompanyConnect.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>(OFFLINE) CompanyConnect.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CompanyConnect.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C05ADEC42B0AC29D00F5B5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C08444852C4CC7EC0034C236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C08444C22C4CC8D20034C236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C08445042C4CCCC70034C236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C08445422C4CCF1F0034C236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
